<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">Payment Application</h1>

      <div class="container">
  <div class="row">
    <div class="col-8">
      <button class="btn btn-success" (click)="showAddWalletForm()">Add New Wallet</button>
      <div class="mt-4">
        <form *ngIf="paymentForm">
          <h2>Add New Wallet</h2>
          <div class="form-group">
            <label for="email">Name:</label> <input type="text" name="name" [(ngModel)]="newWallet.name" class="form-control" required /></div
            >
            <div class="form-group">
              <label for="amount">Amount:</label>
          <input type="text" name="amount" [(ngModel)]="newWallet.amount"  class="form-control" required /></div>
            <div class="form-group">
              <label for="amount">Mode:</label> 
           <input type="text" name="mode" [(ngModel)]="newWallet.mode" class="form-control" required/></div>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="saveWallet(newWallet)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelNewWallet()">Cancel</button>
          </p>
        </form>
        <form *ngIf="editPaymentForm">
          <h2>Edit Wallet Details</h2>
          <p> Name: <input type="text" name="name" [(ngModel)]="editedWallet.name" /></p>
          <p>Amount: <input type="text" name="amount" [(ngModel)]="editedWallet.amount
            " /></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateWallet()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form>
      </div>
    </div>
    <div class="col-4">
      <table class="table table-bordered table-striped table-hover">
        <tbody>
          <tr *ngFor="let payment of payments" style="padding:30px ;">
            <div    style=" border: 1px solid;
            margin: 5%;">
             <h1 style="text-align:center;">{{ payment.name }}</h1>             
                <button mat-button color="primary" type="button" class="btn btn-info btn-sm mr-2" style="
                padding: 10px;
    margin: 5%;" (click)="showEditUserForm(payment)">Edit</button>
                <button  mat-button color="primary" type="button" class="btn btn-danger btn-sm"  style="
                padding: 10px;
    margin: 5%;"(click)="removeWallet(payment)">Delete</button>
            </div>
          </tr>
        </tbody>
      </table>    </div>
  </div>
</div>

    </div>
  </div>
</div>
