@import '@angular/material/prebuilt-themes/indigo-pink.css';
 
  body {
  background-color: #f3f3f3;
  height: 100%;
  padding: 1px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
